//Colors
$purple: #7301cc;
$purple-m: #9001cc;
$purple-l: #ad01cc;
$dark: #1b1d1f;
$grey-l: #dedede;
$grey: #9b9b9b;
$grey-m: #414141;
$grey-d: #282b2e;
$selection: #0a0a0b;

//Typography
$line-height: 1.5;
$font-def: "azo-sans-web",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-sub: "nudista-web",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;