//Colors
$purple: #7301cc;
$purple-m: #9001cc;
$purple-l: #ad01cc;
$dark: #111;
$grey-l: #dedede;
$grey: #9b9b9b;
$grey-m: #414141;
$grey-d: #282b2e;
$selection: #0a0a0b;

//Typography
$line-height: 1.5;
$font-def: "azo-sans-web",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-sub: "nudista-web",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

//Screen Sizes
$mobile: 35.5em;     //568px down
$tablet: 48em;       //768px
$desktop: 64em;      //1024px
$widescreen: 75em;   //1200px
$hd: 87em;           //1392px
$fullhd: 120em;       //1920px
$ultrahd: 120.0625em;
